
.main{
   
    height: 100vh;
    width:100%;
    position: relative;
}

.square{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    
}

button{
    padding:80px;
}